@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;600;700&display=swap');

html, body {
    margin: 0;
    background: #FBFBFB;
}

* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

h1, h2, h3 {
    font-family: 'Anton', sans-serif;
}

header {
    background: url('../img/bg-header.png');
    background-size: cover;
    background-position: bottom center;
    padding: 42px 128px;
}

header nav img {
    height: 60px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.flex-header img {
    width: 100%;
}

.flex-header > div:first-child {
    width: 40%;
    max-width: 100%;
    min-width: 360px;
}

.flex-header > div {
    width: 50%;
}

.flex-header > div:last-child {
    align-self: flex-end;
}

a.btn-nav {
    text-decoration: none;
    height: 60px;
    background: #F0FC6B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 44px;
    border-radius: 6px;
    color: #008F4E;
    font-weight: bold;
    font-size: 14px;
}

h1 {
    font-size: 75px;
    color: #F0FC6B;
    line-height: 82px;
    letter-spacing: 0.01em;
    font-weight: 400;
}

.flex-header p {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}

#fleet h2 {
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

#fleet h2 ~ p {
    color: #8A8A8A;
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.fleet-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.fleet-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: none;
    border-radius: 10px;
    background-color: transparent;
}

.fleet-list::-webkit-scrollbar
{
    height: 6px;
    background-color: #F5F5F5;
}

.fleet-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #888;
}


.fleet-list a {
    color: inherit;
    text-decoration: none;
    display: block;
}

article {
    width: 380px;
    flex-shrink: 0;
    border: 1px solid #E7E7E7;
    background: white;
    padding: 35px 25px;
    box-sizing: border-box;
    margin-bottom: 35px;
    max-width: 95%;
}

.mini-car-title h3 {
    margin-top: 0;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.mini-car-title p {
    color: #8A8A8A;
}

.mini-car-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.mini-car-icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #8A8A8A;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.mini-car-icons img {
    max-width: 28px;
    max-height: 28px;
}

p.price-per-day {
    color: #008F4E;
    font-size: 26px;
    margin-bottom: 10px;
}

p.price-per-month {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
}

.mini-car-price p {
    font-weight: 400;
    font-family: 'Anton', sans-serif;
}

section#promises {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    padding-bottom: 80px;
    margin-top: 50px;
    background: white;
}

section#promises > div:last-child img {
    width: 470px;
    max-width: 100%;
}

section#promises > div:first-child {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.promise {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.promise img {
    width: 90px;
}

#promises h2, .promise h3 {
    margin-top: 0;
    font-family: 'anton', sans-serif;
    font-weight: 400;
}

section#promises p {
    color: #8A8A8A;
}

#promises h2 {
    font-size: 30px;
    margin-bottom: 0;
}

.promise h3 {
    font-size: 20px;
}

footer {
    border-top: 1px solid #E7E7E7;
    padding: 50px;
    background: white;
}

footer nav {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

footer nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 100px;
    margin-bottom: 40px;
}

footer nav ul li {
    min-width: 175px;
    color: #8A8A8A;
    display: flex;
    gap: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: inherit;
}

li.copyright {
    margin-left: auto;
}

footer h2 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 400;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/** ADD CAR **/
section#add, section#car {
    width: 650px;
    max-width: 100%;
    background: #ffffff;
    border-radius: 20px;
    margin: 75px auto;
    border: 1px solid #E7E7E7;
    padding: 50px 80px;
}

section#add a, section#car a {
    color: #8A8A8A;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

section#add h1, section#car h1 {
    color: #191919;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    margin-top: 0;
}

.input input, .input textarea, .input select {
    border: 1px solid #E7E7E7;
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 35px;
    margin-top: 10px;
}

.input label {
    color: #8A8A8A;
    font-weight: 600;
    font-size: 14px;
}

.input textarea {
    min-height: 150px;
}

button.btn-add {
    background: #008F4E;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    padding: 25px;
}

.flex-input {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.flex-input > div {
    width: 50%;
}

/** CAR **/
p.description-car {
    color: #8A8A8A;
    font-weight: 600;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.single-advantage {color: #8A8A8A;font-weight: 600;}

hr {
    border: none;
    background: #E7E7E7;
    height: 1px;
    margin-bottom: 50px;
}

.legal-information {
    color: #8A8A8A;
    font-weight: 600;
    margin-bottom: 50px;
}

section#car {
    width: 750px;
}

.total-rent {
    margin-bottom: 50px;
    color: #191919;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.total-rent span {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

section#insurances {
    background: linear-gradient(125.26deg, #008F4E 38.15%, #00B060 82.59%);
    padding: 75px;
    text-align: center;
}

section#insurances h2 {
    font-weight: 400;
    font-size: 30px;
    color: #FBFEDA;
    margin-bottom: 65px;
}

.single-insurance {
    background: #E7E7E7;
    width: 380px;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px 20px 20px 45px;
    text-align: left;
}

.insurances-list {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.single-insurance > img {
    display: block;
    margin-left: auto;
}

.single-insurance p {
    color: #8A8A8A;
    font-size: 14px;
}

.single-insurance h3 {
    font-weight: 400;
    font-size: 20px;
}

.single-advantage img {
    margin-right: 10px;
    vertical-align: middle;
}

.single-insurance p {
    display: flex;
    align-items: flex-start;
    filter: grayscale(1);
    gap: 15px;
}

.single-insurance p img {
    margin-top: 5px;
}


@media all and (max-width: 992px) {
    .flex-header > div:last-child {
        display: none;
    }
    
    .flex-header > div:first-child {
        width: 100%;
    }
    
    section#promises {
        flex-direction: column;
    }

    footer nav ul {
        gap: 30px;
    }
    
    .insurances-list {
        flex-direction: column;
        align-items: center;
    }

    section#insurances {
        padding: 75px 25px;
    }

}

@media all and (max-width: 668px) {
    section#promises {
        flex-direction: column;
    }

    footer nav ul {
        gap: 30px;
    }

    footer nav ul {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 0;
    }

    footer {
        padding: 25px;
    }

    header {
        padding: 42px 30px;
    }

    .flex-header > div:first-child {
        min-width: 0;
    }
    
    section#add {
        border-radius: 0;
        background: transparent;
        border: none;
        padding: 25px;
        padding-top: 0;
    }
    
    .advantages {
        grid-template-columns: 1fr;
    }
    
    a.btn-nav {
        display: none;
    }
    
    section#car {
        padding: 50px 20px;
    }
}
